.about__statistics  .statistictics__boxes{
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    gap: 20.4rem;

}

.about__statistics  .statistictics__boxes .statistic__box h2{
    color:var(--color-primary);
}

.about__statistics  .statistictics__boxes .statistic__box p{
    margin-top: 2.7rem;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 500;
}
@media(max-width:1440px){

    .about__statistics  .statistictics__boxes{
        gap: 15rem;
    
    }
}
@media(max-width:976px){

    .about__statistics  .statistictics__boxes{
        margin-top: 7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:7rem;
    
    }
}
