.product__all{
    margin-top: 5rem;
}



.product .product__main{
   
    display: flex;
    gap: 6rem;

}

.product__main__heading{
    display: none;
}

.product__photo{

 max-width:64rem;
 
}


.product__photos{
    display:grid;
    margin-top: 2.5rem;
    grid-template-columns: repeat(3,1fr);
    gap:2.6rem ;
}

.product__photos .detal__photo{
   max-width: 25.5rem;
    max-height: 10rem ;
}

.product__content{
max-width: 68rem;

   display: flex;
   flex-direction: column;
   justify-content: space-between; 

}
.product__content__heading{
    max-width: 68rem;
}
.product__content h4{
    font-size: 3.2rem;
    line-height: 4.4rem;
}
.product__content p{
    margin-top: 3.6rem;
} 
.product__content   .colors{
    margin-top: 3rem;
}

.product__content .color__box {
 margin-top: 2rem;
        display: flex;
    align-items: center;
    gap: 1.2rem;
}
.product__content .color__box .active__color{
    border: 1px solid #539991;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
justify-content: center;
}

.product__content .color__box .active__color .color__green{
    width: 18px;
    height: 18px;
    background-color:#539991;
    border-radius: 50%;

}

.product__content .color__box  .color__grey{
    width: 18px;
    height: 18px;
    background-color: #555555;
    border-radius: 50%;
}
.product__content .color__box  .color__primary{
    width: 18px;
    height: 18px;
    background-color:#B8926A;
    border-radius: 50%;
}

.product__content .count__box{
    margin-top: 3.84rem;
    display: flex;
    gap: 1rem;
}

.product__content h3{
    margin-top: 3.6rem;
color: var(--color-primary);
}
.product .shop__btns{
    margin-top:7rem;
    display: flex;
  gap:2rem;
}
.product .shop__btns .btn {
    padding: 0;
    height: 5.4rem;
    width: 33rem;
    display: flex;
    justify-content: center;
    gap:2.3rem;
    align-items: center;
}
.product .shop__btns .btn img{
    width:2.4rem;
    height: 2.4rem;

}
.product .btn__nobackground{
    padding: 0;
   width: 33rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}
.product .btn__nobackground img{
    width:2.4rem;
    height: 2.4rem;
}
.similar__product{
    margin-top: 12rem;

}

.similar__product .product__boxes{
    margin-top:5.9rem ;
}

.similar__product .line .half__line{
    width: 50%;
}
@media(max-width:1132px){
    .product__content{
        max-width: 48rem;
          
        }
}


@media(max-width:976px){
    .product .product__main{
        margin-top: 3.7rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
    }

    .product__main__heading{
        display:block;
    }
    
    .product__content__heading{
        display: none;
    }
    .product__price{
        display: none;
    }
    .section__menu div:nth-child(2){
        display: none;
    }
    .section__menu .go__products{
        display: none;
    }
    .product__content p{
        margin-top:1rem;
    }
.similar__product .line{
    display: none;
}
.similar__product{
    margin-top:7rem;

}
.similar__product  h3{
    font-size: 3.2rem;
}
.similar__product .product__boxes{
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
   
}
.product .shop__btns .btn {
    max-width:27rem;
}
.product .btn__nobackground{
   max-width: 27rem;
   
}
}
@media(max-width:576px){
    .product .shop__btns{
        margin-top:7rem;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      gap:2rem;
    }
  
    .similar__product h3{
        font-size: 2.4rem;
    }
    .similar__product .product__boxes .product__box:not(:first-child){
      display: none;
        align-items: center;
        margin: 0 auto;
    }
    .product__box{
      max-width: 21.1rem;  
    }

}